<footer class="site-footer container medium">
    {{> customize/subscribe}}
  <div class="copyright">
      <p>ahmgeek © 2020 </p>
  </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}
